body{
	background: #C8C8C8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*Loading Icon*/

.small-loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 27px;
    height: 27px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.custom-card{
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    background-color: #fafafa;
    width: 100%;
}

.custom-card:hover{
    background-color: #fff;
}

.custom-card-header{
    background-color: #ff7979;
    color: #fafafa;
    text-size: 1.2em;
    width: 100%;
    min-height: 50px;
    padding: 5px;
}
.custom-card-body{
    color: #ff7979;
    background-color: #fafafa;
    background-text-size: 1em;
    width: 100%;
    height: 150px;
    overflow-y: auto;
    padding: 5px;
}

.custom-card-body:hover{
    background-color: #fff;
}

.card-red{
    background-color: #ff7979!important;
    color: #fafafa!important;
}

.card-green{
    background-color: #6ab04c!important;
    color: #fafafa!important;
}

.card-blue{
    background-color: #0abde3!important;
    color: #fafafa!important;
}

.text-default{
    color: #3d4952;
}

@media (min-width: 576px) { 
	 .primary-color {

	 }
	 .some-class {
    display: block;
  	}
}


@media (min-width: 768px) { 

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
	 .primary-color {

	 }
	 .some-class {
    display: none;
  	}

}

.main-header {
	padding: 0 20px 10px 30px; 
	background: #f0f0f0;
	border-bottom: 2px #da251c solid;
}

.main-header h1 {
	color: #ccc;
}

.def-btn {
	background: #6c757d;
	border: none;
	width: 100%;
	margin: 20px;
	color: #fff;
}

@media (min-width: 992px){
	.col-main {
		margin: 0px;
		padding: 20px;
		background: #fff;
		min-height: 550px;
	}
}

@media (min-width: 250px){
	.col-main {
		padding: 10px;
		background-color: #fff;
		min-height: 550px;
	}
}

.col-main h2 {
	color: #3d4952;
	font-size: 16px;
	font-weight: 600;
}

.form-container{
	padding: 30px;
}
.center-small-form{
	width: 25%;
	margin: auto;
	border: 1px solid #ccc;
	background: #fff; padding: 20px;
}

.top-nav-list {
	/*padding-top: 0px;*/
}
.top-nav-list ul {
	list-style: none !important;
	display: inline !important;
}

.top-nav-list li{
    float: left;
    margin-left: 10px;
}

.top-nav-list li a{
    color: #585858;
    text-decoration: none;
}

.top-nav-list li a:hover{
    color: #000;
    text-decoration: none;
}

.theme-color-1 {
	color: #f58220;
}

.theme-color-2 {
	color: #504c6a;
}
.theme-color-3 {
	color: #6c757d;
}

.dash-col-left {
	margin: 30px 20px 30px 20px;
	border-right: 1px solid #ccc;
	min-height: 400px;
}

.left-col-nav {

}
.left-col-nav ul {
 list-style: none;
 padding-left: 0px;
}
.left-col-nav ul li{

}
.left-col-nav ul li a{
	font-size: 16px;
	color: #3d4952;
	text-decoration: none;
}
.left-col-nav ul li a:hover{
	color: #000000;
}
.dash-col-main {
	margin: 30px 20px 30px 20px;
}

.esc-container {

}
.esc-container ul {
	list-style: none;
	padding-left: 0px;
}

.esc-container ul li{
	
}

.esc-container ul li a{
	font-size: 16px;
	color: #3d4952;
	text-decoration: none;
}

.esc-container ul li a:hover {
	color: #000000;
}

.response-section {
 
}
.response-section p{
	font-size: 16px;
	color: #228b22;
}
.esc-dis-cont {
	max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}
.esc-dis-cont p a{
	color: #3d4952;
	text-decoration: none;
}
.esc-dis-cont p a:hover{
	color: #6c757d;
}
.esc-display {
	padding: 5px;
	border-bottom: 1px solid #ccc; 
}
.esc-display:hover {
	
}
.download h2 a{
	color: #6c757d;
	text-decoration: none;
}
.download h2 a:hover{
	color: #097474;
}

.report-navigation a{
	color: #3d4952;
}

.active {
z-index: 2;
color: #fff;
background-color: #ff0202 !important;
border-color:  #ff0202 !important;
}

.active a{
	color: #fff;
}

.theme-color-bg1{
	background: #ff5252;
	color: #fff;
}

.left-nav-section{
	background: #f5f5f5 !important;
	border: 1px solid #c8c8c8;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

.row-select{

}

.row-select:hover{
	background: #87afc7!important;
	cursor: pointer;
}

.active-pop {
	background: #ffffff!important;
	border-top: 1px solid #dfdfdf!important ;
	border-left: 1px solid #dfdfdf!important ;
	border-right: 1px solid #dfdfdf!important ;
	border-bottom: 1px solid #fff!important ;
}

/* ::::::::::::::::::::::::::::::::::::  Surveys   :::::::::::::::::::::::::::::::::::::::::::::::::::: */

#cnt1 {
	background: #ffffff;
	margin-bottom: 70px;
	box-shadow: 10px 10px;

  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  /*background: white;*/
}

td.rating{
	text-align: center;
	padding-left: 20px;
}

#panel1 {
	padding:20px;
}

.panel-body:not(.two-col) {
	padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

.panel-body .list-group {
	margin-bottom: 0;
}

.margin-bottom-none {
	margin-bottom: 0;
}